#services-content
  %h1 Usługi jakie oferujemy
  .white
    .service
      %h2 Ksero czarno-białe
      .service-col
        %b MAŁY FORMAT
        %ul
          %li A4 - A3
          %li papier
          %li kalka
          %li folia
          %li folia samoprzylepna matowa A4
      .service-col
        %b DUŻY FORMAT
        %ul
          %li A4 - 1124 [mm]
          %li papier
          %li kalka (lewo- lub prawostronna)
          %li folia (lewo- lub prawostronna)
      .warning
        UWAGA: Możliwość przeskalowania do dowolnego formatu.
    = image_tag 'kserokopiarka.jpg', alt: 'ksero'
  .white
    %h2 Ksero kolorowe
    .service
      %ul
        %li Kolorowe wydruki laserowe A4 - A3
        %li Duży format - wydruk atramentowy max do 1120 [mm]
  .grayed-out
    %h2 Wydruki
    .service
      .service-col
        %b CZARNO - BIAŁE
        %ul
          %li materiały: papier, kalka, folia
          %li szerokość plotu: 297 - 1120 [mm]
          %li długość plotu: z rolki
          %li plotowanie plików w formatach wektorowych
          %li i rastrowych
      .service-col
        %b KOLOROWE
        %ul
          %li materiały: papier, folia
          %li szerokość plotu: 297 - 1120 [mm]
          %li długość plotu: z rolki
      .warning
        UWAGA: Wydruki kolorowe kartometryczne, idealne do ZUD-u.
    = image_tag 'ploter.jpg'
  .white
    %h2 Składanie
    .service
      %b Składamy dokumentację ręcznie i maszynowo:
      %ul
        %li do formatu A4 z marginesem 25 mm na wypięcie
        %li do formatu A4 bez marginesu (do teczki)
        %li do formatu A3
    = image_tag 'skladarka.jpg'
  .grayed-out
    %h2 Oprawianie
    .service
      %b Oprawiamy profesjonalnie dokumentację techniczną (format oprawy A4, A3)
      %ul
        %li bindowanie - różnokolorowe oprawy grzebieniowe z okładką
        %li listwy Grippa - elastyczne oprawy w różnych kolorach
        %li Greenbinder - oprawy typu Greenbinder (grzbiet do 100 mm)
        %li segregatory
        %li teczki
    = image_tag 'greenbinder.jpg'
  .white
    %h2 Skanowanie czarno-białe i kolorowe
    .service
      .service-col
        %b MAŁY FORMAT</b>
        %ul
          %li format A4
          %li rozdzielczość 600 DPI
          %li zapis w formacie .tif, .jpg, .pdf
      .service-col
        %b DUŻY FORMAT
        %ul
          %li maksymalna szerkość skanu 1270 mm
          %li rozdzielczość max 600 DPI
          %li zapis w formacie .tif, .jpg, .pdf, .bmp (na życzenie klienta konwersja do dowolnego formatu rastrowego)
      .warning
      UWAGA: Skany klienta przesyłamy na wskazany adres internetowy. Istnieje możliwość obróbki skanów - czyszczenie tła, kalibracja, etc.
    = image_tag 'skaner.jpg'
  .grayed-out
    %h2 Aplikacje
    #applications
      = image_tag 'autocad.png', alt: 'AutoCad', class: 'icon'
      = image_tag 'photoshop.png', alt: 'Photoshop', class: 'icon'
      = image_tag 'Corel.png', alt: 'Corel', class: 'icon'
    .service
      %ul
        %li
          %b AutoCad
        %li wersja 2011
        %li wydruk, edycja
        %li
          %b Photoshop
        %li wydruk, edycja
        %li
          %b CorelDraw
        %li wersja 14
        %li wydruk, edycja
  .white
    %h2 Kalibracja
    .service
      Wykonujemy profesjonalną kalibrację skanów w specjalistycznym programie. Dzięki temu unikniesz problemu z ZUD-em.
  .white
    %h2 Zapis danych
    .service
      %ul
        %li zapis na większości nośników
        %li e-mail
