= render 'shared/banner'
#index
  .services
    .container
      %p.mobile-menu-h Menu usług:
    #services-menu
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{ "data-target" => "#nav-services", "data-toggle" => "collapse", :type => "button" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #nav-services.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.navbar_toggle= link_to 'Ksero', '#ksero-czarno-biale'
              %li= link_to 'Wydruki', '#wydruki'
              %li= link_to 'Składanie', '#skladanie'
              %li= link_to 'Oprawianie', '#oprawianie'
              %li= link_to 'Skanowanie', '#skanowanie'
              %li= link_to 'Aplikacje', '#aplikacje'
              %li= link_to 'Kalibracja', '#kalibracja'
              %li= link_to 'Zapis danych', '#zapis-danych'

    .container
      %h1.services-header Usługi jakie oferujemy

    .white#ksero-czarno-biale
      .container
        .col-md-8
          %h2 Ksero czarno-białe
          .col-md-6
            %b MAŁY FORMAT
            %ul
              %li A4 - A3
              %li papier
              %li kalka
              %li folia
              %li folia samoprzylepna matowa A4
          .col-md-6
            %b DUŻY FORMAT
            %ul
              %li A4 - 1124 [mm]
              %li papier
              %li kalka (lewo- lub prawostronna)
              %li folia (lewo- lub prawostronna)
          %p UWAGA: Możliwość przeskalowania do dowolnego formatu.
          %h2 Ksero kolorowe
          .col-md-6#ksero-kolorowe
            .service
              %ul
                %li Kolorowe wydruki laserowe A4 - A0+
                %li Duży format - wydruk atramentowy do 1120 [mm]
        .col-md-4
          = image_tag 'svg/copier.svg', alt: 'ksero'
        .clearfix

    .grayed-out#wydruki
      .container
        .col-md-8
          %h2 Wydruki
          .col-md-6
            %b CZARNO - BIAŁE
            %ul
              %li materiały: papier, kalka, folia
              %li szerokość plotu: 297 - 1120 [mm]
              %li długość plotu: z rolki
              %li plotowanie plików w formatach wektorowych
              %li i rastrowych
          .col-md-6
            %b KOLOROWE
            %ul
              %li materiały: papier, folia
              %li szerokość plotu: 297 - 1120 [mm]
              %li długość plotu: z rolki
          %p UWAGA: Wydruki geodezyjne kartometryczne, idealne do ZUD-u.
        .col-md-4
          = image_tag 'svg/ploter.svg'
        .clearfix

    .white#skladanie
      .container
        .col-md-8
          %h2 Składanie
          %b Składamy ręcznie i maszynowo:
          %ul
            %li do formatu A4 z marginesem 25 mm na wypięcie
            %li do formatu A4 bez marginesu (do teczki)
            %li z wpinką do segregatora
            %li do formatu A3
        .col-md-4
          = image_tag 'svg/skladanie.svg'
        .clearfix

    .grayed-out#oprawianie
      .container
        .col-md-8
          %h2 Oprawianie
          %b Oprawiamy profesjonalnie dokumentację techniczną (format oprawy A4, A3)
          %ul
            %li bindowanie - różnokolorowe oprawy z grzbietem metalowym lub plastikowym
            %li listwy Grippa - elastyczne oprawy w różnych kolorach
            %li Greenbinder - oprawy typu Greenbinder (grzbiet do kilkunastu centymetrów)
            %li segregatory
            %li teczki
        .col-md-4
          = image_tag 'svg/bind.svg'
        .clearfix

    .white#skanowanie
      .container
        .col-md-8
          %h2 Skanowanie czarno-białe i kolorowe
          .col-md-6
            %b MAŁY FORMAT
            %ul
              %li format A4
              %li rozdzielczość 600 DPI
              %li zapis w formacie .tif, .jpg, .pdf
          .col-md-6
            %b DUŻY FORMAT
            %ul
              %li maksymalna szerkość skanu 1270 mm
              %li rozdzielczość do 600 DPI
              %li zapis w formacie .tif, .jpg, .pdf, .bmp (na życzenie klienta konwersja do dowolnego formatu rastrowego)
          %p UWAGA: Skany klienta przesyłamy na wskazany adres internetowy. Istnieje możliwość obróbki skanów - czyszczenie tła, kalibracja, etc.
        .col-md-4
          = image_tag 'svg/scanner.svg'
        .clearfix

    .grayed-out#aplikacje
      .container
        .col-md-8
          %h2 Aplikacje
          #applications
            .app
              = image_tag 'services/autocad.png', alt: 'AutoCad', class: 'icon'
              %ul
                %li
                  %b AutoCad
                %li wersja 2015
                %li wydruk, edycja
            .app
              = image_tag 'services/photoshop.png', alt: 'Photoshop', class: 'icon'
              %ul
                %li
                  %b Photoshop
                %li wydruk, edycja
            .app
              = image_tag 'services/corel.png', alt: 'Corel', class: 'icon'
              %ul
                %li
                  %b CorelDraw
                %li wersja 14
                %li wydruk, edycja
            .app
              = image_tag 'services/acrobat.png', alt: 'Acrobat', class: 'icon'
              %ul
                %li
                  %b Adobe Acrobat
                %li wersja aktualna
                %li wydruk, edycja
        .col-md-4
          = image_tag 'svg/program.svg'
        .clearfix

    .white#kalibracja
      .container
        .col-md-8
          %h2 Kalibracja
          Wykonujemy profesjonalną kalibrację skanów w specjalistycznym programie. Dzięki temu unikniesz problemu z ZUD-em.
      .clearfix

    .white#zapis-danych
      .container
        .col-md-8
          %h2 Zapis danych
          %ul
            %li zapis na nośniki elektroniczne
            %li e-mail
        .col-md-4
          = image_tag 'svg/save.svg'
        .clearfix
