.banner
  .jcarousel-wrapper
    .jcarousel
      %ul
        %li= image_tag 'headers/header-2-small.jpg', class: 'banner-img'
        %li= image_tag 'headers/header-1-small.jpg', class: 'banner-img'
        %li= image_tag 'headers/header-3-small.jpg', class: 'banner-img'

    = link_to raw('&lsaquo;'), '#', class: 'jcarousel-control-prev'
    = link_to raw('&rsaquo;'), '#', class: 'jcarousel-control-next'

%p.jcarousel-pagination
