.banner
  .jcarousel-wrapper
    .jcarousel
      %ul
        %li= image_tag 'header_wybrane1.png', class: 'banner-img'
        %li= image_tag 'header_wybrane2.png', class: 'banner-img'
        %li= image_tag 'header5.png', class: 'banner-img'

    = link_to raw('&lsaquo;'), '#', class: 'jcarousel-control-prev'
    = link_to raw('&rsaquo;'), '#', class: 'jcarousel-control-next'

    %p.jcarousel-pagination
