.footer
  .container
    .col-xs-12.col-md-4.col-sm-4.col-lg-4
      #blue
        .topic Aktualności
        - @entries.each do |entry|
          %h4= entry.topic
          %i.date
            = I18n.l(entry.created_at, :locale => 'pl', :format => '%b')
            = entry.created_at.day

          %p.right= entry.body
    .col-xs-12.col-md-4.col-sm-4.col-lg-4
      #magenta
        .topic Zaufali nam
        %ul
          - @firms.each do |firm|
            %li
              = link_to firm.name, firm.url
    .col-xs-12.col-md-4.col-sm-4.col-lg-4
      #yellow
        .topic Kontakt
        %p
          %b Reprocentrum
        %p ul. Trzy Lipy 2
        %p 80-172 Gdańsk
        %i.fa.fa-paper-plane
        %p= mail_to 'repro@reprocentrum.com'
        %p tel. 58 340 35 75,
        %p +48 602 408 880
  .block
    %p
      Icons designed by
      %span= link_to 'Freepic', 'www.freepic.com'

