#footer-content.container
  #fbox1
    %h2 Aktualności
    %ul.style3
      %li
        %p.date
          %a{href: '#'}
            April
            %b 20
        %h3 Dura lex sed lex.
        %p
          %a{href: '#'} Disce latine.
      %li
        %p.date
          %a{href: '#'}
            April
            %b 20
        %h3 Dura lex sed lex.
        %p
          %a{href: '#'} Disce latine.
      %li
        %p.date
          %a{href: '#'}
            April
            %b 20
        %h3 Dura lex sed lex.
        %p
          %a{href: '#'} Disce latine.
  #fbox2
    %h2 Zaufali nam
    %ul
      %li= link_to 'Firma', '#'
      %li= link_to 'Firma', '#'
      %li= link_to 'Firma', '#'
      %li= link_to 'Firma', '#'
      %li= link_to 'Firma', '#'
  #fbox3
    %h2 Kontakt
    %p
      %b Adres
      ul. Trzy Lipy 2
      80-172 Gdańsk
    %ul.style5
      %li
        %span.mail
          Mail
        %span= mail_to 'repro@reprocentrum.com'
      %li
        %span.phone
          Telefon
        %span
          tel. 58 340 35 75, +48 602 408 880
#footer
  %p Copyright (c) 2013 Aleksandra Nabożny &amp; co. All rights reserved. Design by me. Photos by whoever would do the photographs.
