#menu
  .container
    %ul
      %li= link_to 'Główna', root_path
      %li= link_to 'Usługi', 'uslugi#index'
      %li#to-footer= link_to 'Aktualności', ''
      %li= link_to 'Kontakt', 'kontakt'
    %a.back-to-top{ :href => '#logo' }
      = image_tag 'svg/top.svg'
