!!!
%html
  %head
    %title Reprocentrum - kopia jak oryginał
    %meta{ 'http-equiv'=> "Content-Type", 'content'=> "text/html; charset=utf-8" }
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = render 'shared/menu'
    = yield
    = render 'shared/footer'
